body
{
    background-color: #FFFFE0;
}

.div-padding-top-10
{
    padding-top: 10vh;
}

.center-vertical
{
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.height-70
{
    height: 70vh;
}

.height-40
{
    height: 40vh;
}

#wikipedia
{
    padding-top: 5vh;
}

.button-padding-bottom
{
    padding-bottom: 1vh;
}